body {
    margin: 0;
    background-color: rgba(160, 95, 119, 0.557);
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#fullscreen {
    box-sizing: border-box;
    padding-top: 70px;
}

#header {
    flex: 1 1 auto;
    position: fixed;
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #c8c8c1ad;
    width: 100%;
    height: 70px;
}

#logo {
    display: flex;
    margin-left: 100px;
    padding: 20px;
    
}

#textologo {
    cursor: pointer;
    font-size: 50px;
    font-family: "Courier Prime", monospace;
    font-weight: 400;
    font-style: normal;
}

#botoesconta {
    margin-left: 1200px;
    display: flex;
    gap: 8px;
}

#entrar {
    display: flex;
    height: 35px;
    width: 70px;
    padding: 6px;
    border-radius: 12px;
    background-color: rgba(161, 195, 184, 0.976);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#cadastrar {
    display: flex;
    height: 35px;
    width: max-content;
    padding: 6px;
    border-radius: 12px;
    background-color: rgba(161, 195, 184, 0.582);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#MainContainer {
    background-image: url(https://i.pinimg.com/originals/35/d5/54/35d554f31bd87bf3f5097830af38332b.gif);
    background-size: cover;
    padding-top: 80px;
    padding-bottom: 70px;
    display: flex;
    justify-content: center;
}

#profileheader {
    pa
    padding-left: 10px;
    background-color:rgba(149, 181, 149, 0.508);
    border-radius: 50px;
    display: flex;
    width: 540px;
    height: 290px;
    /* margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 20px; */
}

#profilepicture {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    padding-left: 6px;

    img {
        width: 200px;
        height: 200px;
        padding: 10px;
        align-items: center;
        display: flex;
        justify-content: center;
        border-radius: 50%;

    }
}

#textodeperfil {
    width: 300px;
    height: 200px;
    line-height: 20px;
    margin-top: 40px;
    margin-left: 10px;

    a {
        font-size: 18px;
    }
}

#nome {
    font-size: 30px;
    display: flex;
    height: 60px;
}

#username {
    line-height: 2px;
}

#dadosnumericos {
    line-height: 30px;
}

#linkbio {
    display: inline-flex;
    padding: 6px 4px 2px 4px;
    justify-content: center;
    align-items: center;
}

#iconlink {
    margin-right: 6px;
}

#bio {
    line-height: 0;
}

#barraacoes {
    /* background-color: antiquewhite; */
    display: flex;
    gap: 10px;
    padding-top: 40px;
    padding-bottom: 20px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#botaoseguir {
    height: 35px;
    width: 295px;
    padding: 12px 20px;
    border-radius: 12px;
    background-color: gainsboro;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    }

#botaomensagem {
    height: 35px;
    width: 295px;
    padding: 12px 20px;
    border-radius: 12px;
    background-color: gainsboro;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#destaques {
    /* background-color: rgb(221, 166, 245); */
    display: flex;
    padding-top: 24px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#containerdestaque {
    display: flex;
    background-color: rgb(161, 195, 184);
    padding: 50px;
    border-radius: 50px;
    gap: 20px;
}


.destaque {
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    margin-bottom: 40px;
    text-align: center;
    cursor: pointer;


    img {
        border-radius: 50%;
        border-color: rgb(43, 67, 60);
        width: 100px;
        height: 100px;
        object-fit: cover;
    }
}

#feed {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* background-color: rgba(238, 167, 205, 0.277); */
    gap: 8px;
    height: 300px;
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: center;
}


.posts {   
    cursor: pointer;
    align-items: center;
    justify-content: center;
    background-color: rgba(161, 195, 184, 0.582);
    height: 300px;
    height: 300px;

    img {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
}

.posts:hover {
    transform: scale(1.2);
    transition: 0.5s;
    transition: transform 0.3s ease;
}

.destaque:hover {
    transform: scale(1.2);
    transition: 0.5s;
    transition: transform 0.5s ease;
}

#botaoseguir:hover {
    background-color: rgba(123, 120, 120, 0.353);
    transition: transform 0.5s ease;
}

#botaomensagem:hover {
    background-color: rgba(123, 120, 120, 0.353);
    transition: transform 0.5s ease;
}

#profileheader:hover {
    transform: scale(1.2);
    transition: 0.5s;
    transition: transform 0.5s ease;
}

#textologo:hover {
    color: rgb(43, 67, 60);
    transition: transform 0.5s ease;
}

#entrar:hover {
    background-color: rgba(43, 67, 60, 0.656);
    transition: transform 0.5s ease;
}

#cadastrar:hover {
    background-color: rgba(43, 67, 60, 0.656);
    transition: transform 0.5s ease;
}

#containerdestaque:hover {
    transform: scale(1.2);
    transition: 0.5s;
    transition: transform 0.5s ease;
}

#barraacoes:hover {
    transform: scale(1.2);
    transition: 0.5s;
    transition: transform 0.5s ease;
}